%h1= "Program Statistics"

%div.info
  %p= link_to "Download users", admin_dl_users_path(format: 'csv')

%div.info
  %p= link_to "Download pairs", admin_dl_pairs_path(format: 'csv')

%div.info
  %h4= "Number of Applicants"
  %p= User.total_users
%div.info
  %h4= "Number of Pairs"
  %p= Pair.total_pairs
%div.row

%div.info
  %h4= "Number of Groups"
  %p= Group.total_groups
%div.info
  %h4= "Number of Admins"
  %p= User.total_admins
%div.row

%div.info
  %h4= "Academic Title"
  = pie_chart User.group(:academic_title).count
%div.info
  %h4= "Gender"
  = pie_chart User.group(:gender).count
%div.row

%div.info
  %h4= "Residency"
  = pie_chart User.group(:residency).count
%div.info
  %h4= "Major"
  = pie_chart User.group(:major).count
%div.row
