%h1= "Data Statistics"

- @users = User.get_users

%div.info
  %h4= "Number of Applicants"
  %p= @users.count
%div.info
  %h4= "Number of Pairs"
  %p= Pair.total_pairs
%div.row

%div.info
  %h4= "Number of Groups"
  %p= Group.total_groups
%div.info
  %h4= "Number of Admins"
  %p= User.total_admins
%div.row

%div.info
  %h4= "Academic Title"
  = pie_chart @users.group(:academic_title).count
%div.info
  %h4= "Gender"
  = pie_chart @users.group(:gender).count
%div.row

%div.info
  %h4= "Residency"
  = pie_chart @users.group(:residency).count
%div.info
  %h4= "Major"
  = pie_chart @users.group(:major).count
%div.row
