%h2 All Users

%table#pairs.table
  %thead
    %tr
      %th Pair No. 
      %th Member 1
      %th Member 2
      %th Languages
  %tbody
    - @pairs.each do |pair|
      %tr
        %td= link_to "Pair #{pair.id}", admin_show_pair_path(:id => @user.id, :pair_id => pair.id)
        %td= User.full_name(pair.member1)
        %td= User.full_name(pair.member2)
        %td= (!pair.languages.empty?) ? pair.get_languages : 'N/A'

%h3 Admins
%table.table
  %tbody
    - @admins.each do |user|
      %tr
        %td= user.id
        %td= link_to "#{user.first_name} #{user.last_name}", admin_show_user_path(:id => @user.id, :user_id => user.id), :method => :get
 
%h3 Students
%table.table
  %tbody
    - @users.each do |user|
      - if !user.admin
        %tr
          %td= user.first_name
          %td= user.last_name
          - if user.active
            %td= link_to "Deactivate", admin_deactivate_user_path(:id => @user.id, :user_id => user.id, :authenticity_token => form_authenticity_token), :method => :put
            %td= link_to "Grant Admin", admin_make_admin_path(:id => @user.id, :user_id => user.id, :authenticity_token => form_authenticity_token), :method => :put
            - if user.group_leader == 'Yes'
              - if user.facilitator
                %td= link_to "Revoke Facilitator", admin_revoke_facilitator_path(:id => @user.id, :user_id => user.id, :authenticity_token => form_authenticity_token), :method => :put
              - if !user.facilitator
                %td= link_to "Grant Facilitator", admin_make_facilitator_path(:id => @user.id, :user_id => user.id, :authenticity_token => form_authenticity_token), :method => :put
          - else
            %td= link_to "Activate", admin_activate_user_path(:id => @user.id, :user_id => user.id, :authenticity_token => form_authenticity_token), :method => :put
 


= link_to 'Pair all students', pairing_path(@user.id)



- 5.times do 
  %br

%h3 Manually Create Pair
/CREATE NEW MANUAL PAIR
/= form_for :user, url: {action: 'create'}, :class => "field_with_errors" do |f|
= form_for :admin, url: {action: 'create_pair', id: @user.id} do |f|

  - language_preferences = [["Arabic", "arabic"], ["Cantonese", "cantonese"], ["English", "english"], ["Filipino", "filipino"], ["French", "french"], ["German", "german"], ["Indonesian", "indonesian"], ["Italian","italian"], ["Japanese", "japanese"], ["Korean", "korean"], ["Mandarin", "mandarin"], ["Portuguese", "portuguese"], ["Russian", "russian"], ["Spanish", "spanish"], ["Swedish", "swedish"], ["thai", "thai"], ["Vietnamese", "vietnamese"], ["Other", "other"]]

  %div.question
    = f.label :member1, "User 1 ID"
    = f.text_field :member1

  %div.question
    = f.label :member2, "User 2 ID"
    = f.text_field :member2

  %div.question
    = f.label :member3, "User 3 ID"
    = f.text_field :member3

  %div.question
    = f.label :languages, "Languages"
    = #f.select :languages, language_preferences, {:class => "first_lang_preference"}, :id => "first_lang_preference"
    = f.text_field :lang1
    = f.text_field :lang2

  %div.question
    %p
    = f.submit 'Manually Create Pair'


- 5.times do 
  %br
