%h2 All Users

%table
  %thead
    %tr
      %th ID
      %th First Name
      %th Last Name
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.first_name
        %td= user.last_name
 
= link_to 'Home', admin_path(@user.id)
= link_to 'Show groups', groups_path

