%h2 All Users

%table
  %thead
    %tr
      %th ID
      %th Member 1
      %th Member 2
      %th Languages
  %tbody
    - @pairs.each do |pair|
      %tr
        %td= pair.id
        %td= pair.member1
        %td= pair.member2
        - if !pair.languages.empty?
          %td= pair.languages

%table
  %thead
    %tr
      %th ID
      %th First Name
      %th Last Name
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.first_name
        %td= user.last_name
        - if user.admin
          %td= link_to "Delete admin", admin_revoke_admin_path(:id => @user.id, :user_id => user.id, :authenticity_token => form_authenticity_token), :method => :put
        - else
          - if user.active
            %td= link_to "Deactivate", admin_deactivate_user_path(:id => @user.id, :user_id => user.id, :authenticity_token => form_authenticity_token), :method => :put
          - else
            %td= link_to "Activate", admin_activate_user_path(:id => @user.id, :user_id => user.id, :authenticity_token => form_authenticity_token), :method => :put
          %td= link_to "Make admin", admin_make_admin_path(:id => @user.id, :user_id => user.id, :authenticity_token => form_authenticity_token), :method => :put
 
= link_to 'Pair students', pairing_path(@user.id)
= link_to 'Home', admin_path(@user.id)
= link_to 'Show groups', groups_path
