%h2 All Users

%table#pairs
  %thead
    %tr
      %th Pair No. 
      %th Member 1
      %th Member 2
      %th Languages
  %tbody
    - @pairs.each do |pair|
      %tr
        %td= link_to "Pair #{pair.id}", admin_show_pair_path(:id => @user.id, :pair_id => pair.id)
        %td= pair.member1
        %td= pair.member2
        %td= (!pair.languages.empty?) ? pair.languages : 'N/A'

%table
  %thead
    %tr
      %th User ID
      %th First Name
      %th Last Name
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= link_to "#{user.first_name} #{user.last_name}", admin_show_user_path(:id => @user.id, :user_id => user.id), :method => :get

       
       
= link_to 'Pair students', pairing_path(@user.id)


