%h2 All Users

%table#pairs.table
  %thead
    %tr
      %th Pair No. 
      %th Member 1
      %th Member 2
      %th Languages
  %tbody
    - @pairs.each do |pair|
      %tr
        %td= link_to "Pair #{pair.id}", admin_show_pair_path(:id => @user.id, :pair_id => pair.id)
        %td= User.find(pair.member1).full_name 
        %td= User.find(pair.member2).full_name 
        %td= (!pair.languages.empty?) ? pair.get_languages : 'N/A'

%h3 Admins
%table.table
  %tbody
    - @users.each do |user|
      - if user.admin
        %tr
          %td= user.first_name
          %td= user.last_name
          - if user.admin
            %td= link_to "Revoke admin", admin_revoke_admin_path(:id => @user.id, :user_id => user.id, :authenticity_token => form_authenticity_token), :method => :put
 
%h3 Students
%table.table
  %tbody
    - @users.each do |user|
      - if !user.admin
        %tr
          %td= user.first_name
          %td= user.last_name
          - if user.active
            %td= link_to "Deactivate", admin_deactivate_user_path(:id => @user.id, :user_id => user.id, :authenticity_token => form_authenticity_token), :method => :put
            %td= link_to "Grant Admin", admin_make_admin_path(:id => @user.id, :user_id => user.id, :authenticity_token => form_authenticity_token), :method => :put
            - if user.group_leader == 'Yes'
              - if user.facilitator
                %td= link_to "Revoke Facilitator", admin_revoke_facilitator_path(:id => @user.id, :user_id => user.id, :authenticity_token => form_authenticity_token), :method => :put
              - if !user.facilitator
                %td= link_to "Grant Facilitator", admin_make_facilitator_path(:id => @user.id, :user_id => user.id, :authenticity_token => form_authenticity_token), :method => :put
          - else
            %td= link_to "Activate", admin_activate_user_path(:id => @user.id, :user_id => user.id, :authenticity_token => form_authenticity_token), :method => :put
 
= link_to 'Pair students', pairing_path(@user.id)
