

-if !@pairs.empty?
  %h3 Pairs
  %table#pairs.table
    %thead
      %tr
        %th Pair No. 
        %th Member 1
        %th Member 2
        %th Languages
    %tbody
      - @pairs.each do |pair|
        %tr
          %td= link_to "Pair #{pair.id}", admin_show_pair_path(:id => @user.id, :pair_id => pair.id)
          %td= User.full_name(pair.member1)
          %td= User.full_name(pair.member2)
          - if !pair.languages[0].nil? and !pair.languages[1].nil?
            %td= "#{pair.languages[0][1...-1]}, #{pair.languages[1][2...-1]}"
          - elsif pair.languages[0].nil? and !pair.languages[1].nil?
            %td= "#{pair.languages[1][1...-1]}"
          - elsif pair.languages[1].nil? and !pair.languages[0].nil?
            %td= "#{pair.languages[0][1...-1]}"
          /%td= (!pair.languages.empty?) ? pair.get_languages : 'N/A'
- else
  %h2 There are currently no students paired.
  = link_to 'Pair students', pairing_path(@user.id), :class => "edit-prof btn"

%h3 Manually Create Pair
/CREATE NEW MANUAL PAIR
/= form_for :user, url: {action: 'create'}, :class => "field_with_errors" do |f|
= form_for :admin, url: {action: 'create_pair', id: @user.id} do |f|

  - language_preferences = [["Arabic", "arabic"], ["Cantonese", "cantonese"], ["English", "english"], ["Filipino", "filipino"], ["French", "french"], ["German", "german"], ["Indonesian", "indonesian"], ["Italian","italian"], ["Japanese", "japanese"], ["Korean", "korean"], ["Mandarin", "mandarin"], ["Portuguese", "portuguese"], ["Russian", "russian"], ["Spanish", "spanish"], ["Swedish", "swedish"], ["thai", "thai"], ["Vietnamese", "vietnamese"], ["Other", "other"]]

  %div.question
    = f.label :email1, "User 1 Email"
    = f.text_field :email1

  %div.question
    = f.label :email2, "User 2 Email"
    = f.text_field :email2

  %div.question
    = f.label :email3, "User 3 Email"
    = f.text_field :email3

  %div.question
    = f.label :languages, "Languages"
    = #f.select :languages, language_preferences, {:class => "first_lang_preference"}, :id => "first_lang_preference"
    = f.text_field :lang1
    = f.text_field :lang2

  %div.question
    %p
    = f.submit 'Manually Create Pair'

