%h2= "Pair #{@pair.id}"

%table
  %thead
    %tr
      %th User ID
      %th Name
      %th Add/Remove
  %tbody
    - @members.each do |id, name|
      %tr
      - if !id.nil? and !id.empty?
        %td= id
        %td= name
        %td= link_to 'Remove'
      - else 
        %td= 'None'
        %td= 'None'
        %td= link_to 'Add'

%h4= "Pair Languages"
= @pair.languages.empty? ? 'N/A' : @pair.languages.join(',')
