%h1= "Welcome, #{@user.first_name}!"

= link_to 'Show users', admins_path 
= link_to 'Show groups', groups_path, :id => 'show groups'

%h5= "Current Application Deadline: #{User::APPLICATION_DEADLINE}"

%h4= "Set Application Deadline"
= render 'set_app_deadline'
