%h2 Student Information: #{@view_user.first_name} #{@view_user.last_name}

%h4= "Email"
%p #{@view_user.email}

%h4= "#{@view_user.first_name}'s Languages"
- @fluent_languages = @view_user.fluent_languages.delete_if {|lang| lang == "0"}
- @fluent_languages.each {|lang| lang.capitalize!}
%p= @fluent_languages.join(", ")

%div.info
  %h4= "Language Preference 1"
  - @view_user.first_lang_preference.capitalize!
  %p= @view_user.first_lang_preference

%div.info
  %h4= "Language Preference 2"
  - if @view_user.second_lang_preference == nil
    %p= "#{@view_user.first_name} has no second language preference"
  - else
    - @view_user.first_lang_preference.capitalize!
    %p= @view_user.second_lang_preference


%div.row
%div.info
  %h3= "#{@view_user.first_name}'s Pair Information"

  -# Find the pair an user is associated with
  - @pair = nil
  - Pair.all.each do |pair|
    /- if pair.members.include? @view_user.id
    - if pair.member1 == @view_user.id or pair.member2 == @view_user.id or pair.member2 == @view_user.id
      - @pair = pair
  - if @pair.nil?
    = "#{@view_user.first_name} is not currently in a pair"
  - else
    %h4= "Pair ID: #{@pair.id}"

    %h4= "Pair Languages"
    = @pair.languages.join(", ")
    %p

    %table
      %tr
        %th Pair Member
        %th Contact Info
        - @pair.members.each do |id|
          - user = User.find(id)
          %tr
            %td= user.first_name + " " + user.last_name
            %td= user.email
%div.info
  %h3= "Groups #{@view_user.first_name} attends"
  - @group = nil
  - Group.all.each do |group|
    - "user id = #{@view_user.id}, group.members = #{group.members}"
    - if group.members.include? @view_user.id
      - @group = group


      %h4= "#{@group.language} Group"
      %table
        %tr
          %td= "#{@group.time} on #{@group.day}s, #{@group.location}"


- if !@groupID.nil? and @view_user.facilitator?
  %div.info
    %h3= "Language groups #{@view_user.first_name} facilitates"
    = link_to "#{@myGroup.language} on #{@myGroup.day}s", manage_groups_path

