%h1= "Welcome, #{@user.first_name}!"

= render 'admin_nav'

%div.info
  %h5= "Current Application Deadline: #{User::APPLICATION_DEADLINE}"

  %h4= "Set Application Deadline"
  = render 'set_app_deadline'
