- if @user.admin
  %h2 All Pairs

  %table#pairs
    %thead
      %tr
        %th Pair No. 
        %th Member 1
        %th Member 2
        %th Languages
    %tbody
      - @pairs.each do |pair|
        %tr
          %td= link_to "Pair #{pair.id}", admin_show_pair_path(:id => @user.id, :pair_id => pair.id)
          %td= pair.member1
          %td= pair.member2
          %td= (!pair.languages.empty?) ? pair.languages : 'N/A'
- else
  - redirect_to show_user_path
