%h2= "Pair #{@pair.id}"

%table
  %thead
    %tr
      %th User ID
  %tbody
    %tr
      %td= @pair.member1
    %tr
      - if !@pair.member2.nil?
        %td= @pair.member2
      - else 
        %td= 'None'

%h4= "Pair Languages"
= @pair.languages.empty? ? 'N/A' : @pair.languages.join(',')
