%h2 Language Groups

-if @user.admin
  = link_to "Add group", new_group_path, :id => "add group"

%div#groups
  %ul.groups
    - if !@mon_groups.empty?
      %h4 Monday
      - @mon_groups.each do |group|
        %li.group
          %span=group.language
          %span=group.time
          %span=group.location
        - if @user.admin
          %div.delete-group
            = link_to "Delete group", group, :method => :delete, :confirm => "Are you sure?"
        - if !group.has_member?(session[:id])
          = link_to "Join Group", join_groups_path(id: group.id)
        - else
          = link_to "Leave Group", leave_groups_path(id: group.id)
    - if !@tues_groups.empty?
      %h4 Tuesday
      - @tues_groups.each do |group|
        %li.group
          %span=group.language
          %span=group.time
          %span=group.location
        - if @user.admin
          %div.delete-group
            = link_to "Delete group", group, :method => :delete, :confirm => "Are you sure?" 
        - if !group.has_member?(session[:id])
          = link_to "Join Group", join_groups_path(id: group.id)
        - else
          = link_to "Leave Group", leave_groups_path(id: group.id)

    - if !@wed_groups.empty?
      %h4 Wednesday
      - @wed_groups.each do |group|
        %li.group
          %span=group.language
          %span=group.time
          %span=group.location
        - if @user.admin
          %div.delete-group
            = link_to "Delete group", group, :method => :delete, :confirm => "Are you sure?" 
        - if !group.has_member?(session[:id])
          = link_to "Join Group", join_groups_path(id: group.id)
        - else
          = link_to "Leave Group", leave_groups_path(id: group.id)

    - if !@thurs_groups.empty?
      %h4 Thursday
      - @thurs_groups.each do |group|
        %li.group
          %span=group.language
          %span=group.time
          %span=group.location
        - if @user.admin
          %div.delete-group
            = link_to "Delete group", group, :method => :delete, :confirm => "Are you sure?" 
        - if !group.has_member?(session[:id])
          = link_to "Join Group", join_groups_path(id: group.id)
        - else
          = link_to "Leave Group", leave_groups_path(id: group.id)

    - if !@fri_groups.empty?
      %h4 Friday
      - @fri_groups.each do |group|
        %li.group
          %span=group.language
          %span=group.time
          %span=group.location
        - if @user.admin
          %div.delete-group
            = link_to "Delete group", group, :method => :delete, :confirm => "Are you sure?" 
        - if !group.has_member?(session[:id])
          = link_to "Join Group", join_groups_path(id: group.id)
        - else
          = link_to "Leave Group", leave_groups_path(id: group.id)
