
%h2.group-title #{@group.language} Group

- if @user.admin or @facilitator.id == @user.id
  %div.edit-group
    = link_to "Edit group", edit_group_path(@group.id), :class => "btn edit-prof"
%div.clearfix

%div.info
  %h4 Facilitator
  %p= "#{@facilitator.first_name} #{@facilitator.last_name}"

  %h4 Language
  %p="#{@group.language}"

  %h4 Time
  %p="#{@group.time}"

  %h4 Location
  %p="#{@group.location}"


%div.info
  %h4= "Members"
  = @group.members.each do |id|
    - user = User.find(id)
    %p= "#{user.first_name} #{user.last_name}"
