= form_for :user, url: users_path do |f|

  = f.label :first_name, "First Name"
  = f.text_field :first_name

  = f.label :last_name, "Last Name"
  = f.text_field :last_name

  = f.label :sid, "Student ID Number"
  = f.text_field :sid

  = f.label :email, "Email"
  = f.text_field :email

  = f.label :academic_title, "Academic Title"
  = f.select :academic_title, [["Undergraduate", "undergraduate"], ["Graduate", "graduate"], ["Staff", "staff"], ["scholar", "scholar"], ["Instructor", "instructor"], ["Instructor", "instructor"], ["Other", "other"]]

  = f.label :major, "Major(s)"
  = f.text_field :major

  = f.label :residency, "Residency"
  = f.select :residency, [["International", "international"], ["Domestic", "domestic"]]

  = f.label :gender, "Self-Identified Gender (For matching purpose only)"
  = f.select :gender, [["Male", "international"], ["Female", "female"], ["Both or neither", "both_or_neither"]]