= form_for :user, url: users_path do |f|

  = f.label :time_preference, "Times you could meet with your partner(s)"
  = f.select :time_preference, [["Monday", "monday"],["Tuesday","tuesday"],["Wednesday", "wednesday"],["Thursday","thursday"],["Friday","friday"]]

  = f.label :time_additional_info, "Please describe in the box below if you have any other preferences"
  = f.text_field :time_additional_info