%h2 Users

%h2= link_to "Create New User", new_user_path, :class => 'btn'

%table
  %tr
    %th ID
    %th Group ID
    %th First Name
    %th Last Name
    %th SID
    %th Email
    %th Academic Title
    %th Major
    %th Residency
    %th Gender
    %th Gender Preference
    %th Fluent Languages
    %th Language Preference 1
    %th Language Preference 1 Proficiency
    %th Language Preference 2
    %th Language Preference 2 Proficiency
    %th Time Preference
    %th Time Preference Additional Info
    %th Reason for Joining LEP
    %th Plan to Maintain your Motivation
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.group_id
        %td= user.first_name
        %td= user.last_name
        %td= user.sid
        %td= user.email
        %td= user.academic_title
        %td= user.major
        %td= user.residency
        %td= user.gender
        %td= user.gender_preference
        %td= user.fluent_languages
        %td= user.first_lang_preference
        %td= user.first_lang_proficiency 
        %td= user.second_lang_preference
        %td= user.second_lang_proficiency 
        %td= user.time_preference
        %td= user.time_additional_info
        %td= user.user_motivation
        %td= user.user_plan
