%h2= "User #{@user.id}"

%b ID
= @user.id
%b First Name
= @user.first_name
%b Last Name
= @user.last_name
%b SID
= @user.sid
%b Email
= @user.email
%b Academic Title
= @user.academic_title
%b Major
= @user.major
%b Residency
= @user.residency
%b Gender
= @user.gender
%b Gender Preference
= @user.gender_preference
%b Fluent Languages
= @user.fluent_languages
%b Language Preference 1
= @user.first_lang_preference
%b Language Preference 1 Proficiency
= @user.first_lang_proficiency
%b Language Preference 2
= @user.second_lang_preference
%b Language Preference 2 Proficiency
= @user.second_lang_proficiency
%b Time Preference
= @user.time_preference
%b Time Preference Additional Info
= @user.time_additional_info
%b Reason for Joining LEP
= @user.user_motivation
%b Plan to Maintain your Motivation
= @user.user_plan
            