%h2= "User #{@user.id}"

%br ID
= @user.id

%br First Name
= @user.first_name

%br Last Name
= @user.last_name

%br Email
= @user.email

%br Academic Title
= @user.academic_title

%br Major
= @user.major

%br Fluent Languages
= @user.fluent_languages

%br Language Preference 1
= @user.first_lang_preference

%br Language Preference 2
= @user.second_lang_preference

%br GROUP NAMES HERE
= @user.second_lang_preference

            