%h2= "Welcome, #{@user.first_name}!"


/ - if @user.active
/   = button_to 'Deactivate', :action => :deactivate, :id => "deactivate" # :confirm => 'Are you sure you want to deactivate your account?'
/ - else
/   = button_to 'Activate', :action => :activate, :form => { :id => "activate" } #, :confirm => 'Are you sure you want to reactivate your account?'

- if @user.active
  = form_tag(:action => :deactivate) do
    = submit_tag('Deactivate', id: 'deactivate')
- else
  = form_tag(:action => :activate) do
    = submit_tag('Activate', id: 'activate')


%h4= "Your Languages"
= @user.fluent_languages

%h4= "Your Languages"
= @user.fluent_languages

%h4= "Language Preference 1"
= @user.first_lang_preference

%h4= "Language Preference 2"
= @user.second_lang_preference


%h3= "Your Group Information"

%h4= "Group ID: 1"

%h4= "Group Languages"
="#{@user.first_lang_preference}, #{@user.fluent_languages}"

%p

%table
  %tr
    %th Group Member
    %th Contact Info
    - [{"name" => "Sally Sue", "contact" => "sally@berkeley.edu"},{"name" => "Joe Schmoe", "contact" => "bob@berkeley.edu"}].each do |member|
      %tr
        %td= member["name"]
        %td= member["contact"]