%h2= "Welcome, #{@user.first_name}!"

- if @user.active
  = form_tag(:action => :deactivate) do
    -#= submit_tag 'Activate', data: {id: 'deactivate' }
    = submit_tag('Deactivate', id: 'deactivate')
- else
  = form_tag(:action => :activate) do
    = submit_tag('Activate', id: 'activate')


%h4= "Your Languages"
- @fluent_languages = @user.fluent_languages.delete_if {|lang| lang == "0"}
- @fluent_languages.each {|lang| lang.capitalize!}
= @fluent_languages.join(", ")

%h4= "Language Preference 1"
= @user.first_lang_preference.capitalize!

%h4= "Language Preference 2"
- if @user.second_lang_preference == nil
  = "You have no second language preference"
- else
  = @user.second_lang_preference.capitalize!


%h3= "Your Pair Information"

-# Find the pair an user is associated with
- @pair = nil
- Pair.all.each do |pair|
  - if pair.members.include? @user.id
    - @pair = pair

- if @pair.nil?
  = "You are not currently in a pair"
- else
  %h4= "Pair ID: #{@pair.id}"

  %h4= "Pair Languages"
  = @pair.languages.join(", ")
  %p

  %table
    %tr
      %th Pair Member
      %th Contact Info
      - @pair.members.each do |id|
        - user = User.find(id)
        %tr
          %td= user.first_name + " " + user.last_name
          %td= user.email

%h3= "Your Group Information"
- @group = nil
- Group.all.each do |group|
  - "user id = #{@user.id}, group.members = #{group.members}"
  - if group.members.include? @user.id
    - @group = group

- if @group.nil?
  = "You are not currently in a group"
- else
  %h4= #"Group ID: #{@group.id}"
  %table
    %tr
      %th Group Member
      - @group.members.each do |id|
        - user = User.find(id)
        %tr
          %td= user.first_name + " " + user.last_name


- 10.times do
  %br