%h2= "Welcome, #{@user.first_name}!"

%p Your Languages
= @user.fluent_languages

%p Language Preference 1
= @user.first_lang_preference

%p Language Preference 2
= @user.second_lang_preference

%p Groups 
= @user.second_lang_preference

            
