= form_for :timesheet, url: new_user_timesheet_path(@user), :class => "field_with_errors" do |f|

  - language_options = [["Arabic", "arabic"], ["Cantonese", "cantonese"], ["English", "english"], ["Filipino", "filipino"], ["French", "french"], ["German", "german"], ["Indonesian", "indonesian"], ["Italian","italian"], ["Japanese", "japanese"], ["Korean", "korean"], ["Mandarin", "mandarin"], ["Portuguese", "portuguese"], ["Russian", "russian"], ["Spanish", "spanish"], ["Swedish", "swedish"], ["Thai", "thai"], ["Vietnamese", "vietnamese"], ["Other", "other"]]

  %div.question
    = f.label :practiced_language, "What language did you practice?"
    = f.select :practiced_language , language_options, {:class => "practiced_language"}, :id => "practiced_language"
    = f.text_field :practiced_language, :id => "practiced_language_other"

  %div.question
    = f.label :date_practiced, "When did you practice?"
    = f.text_field :date_practiced, {:class => 'datepicker', :id => 'datepicker'}

  %div.question
    = f.label :hours_per_week, "How many hours per week did you practice on this day?"
    = f.text_field :hours_per_week

  %div.question
    %p
    = f.submit 'Submit'
