%div#header
  %span.berkeley Berkeley
  %span Language Exchange Program 
%nav

  - if current_page?(root_path) 
    %ul
      %li 

  - if current_page?(users_invalid_path)
    %ul
      %li 
        = link_to "LOGOUT", "https://mail.google.com/mail/u/0/?logout&hl=en" 

  - if !@user.nil?
    - if request.env['PATH_INFO'] != '/'
      %ul
        %li
          - if !@user.id.nil?
            - if @user.admin
              = link_to "HOME", admin_path(@user)
            - else
              = link_to "HOME", user_path(@user)
        - if @user.admin
          %li
            = link_to 'USERS', admin_users_path(@user)
          %li
            = link_to "ADMINS", admins_path(@user)
          %li
            = link_to "PAIRS", admin_pairs_path(@user)
        %li 
          = link_to "GROUPS", groups_path 
        %li 
          - if !@user.id.nil?  
            = link_to "TIMESHEETS", user_timesheets_path(@user) 
        - if @user.admin 
          %li 
            = link_to "ANALYTICS", admin_analytics_path(@user) 

        %li.logout 
          = link_to "LOGOUT", "https://mail.google.com/mail/u/0/?logout&hl=en" 

- if flash[:notice]
  #notice.message= flash[:notice]
- if flash[:warning]
  #notice.warning= flash[:warning]

