%div#header
  %span.berkeley
    Berkeley
  %span Language Exchange Program 
%nav
  - if request.env['PATH_INFO'] != '/'

    %ul
      %li
        - if !@user.id.nil?
          - if @user.admin
            = link_to "HOME", admin_path(@user)
          - else
            = link_to "HOME", user_path(@user)
      %li
        = link_to "LANGUAGE GROUPS", groups_path 
      %li 
        = link_to "LOGOUT", "https://mail.google.com/mail/u/0/?logout&hl=en" 

- if flash[:notice]
  #notice.message= flash[:notice]
- if flash[:warning]
  #notice.warning= flash[:warning]

