%div#header
  %span.berkeley Berkeley
  %span Language Exchange Program 
%nav
  - if !@user.nil?
    - if request.env['PATH_INFO'] != '/'

      %ul
        %li
          - if !@user.id.nil?
            - if @user.admin
              = link_to "HOME", admin_path(@user)
            - else
              = link_to "HOME", user_path(@user)
        %li
          = link_to "LANGUAGE GROUPS", groups_path 
        %li
          - if @user.admin
            = link_to "ANALYTICS", admin_analytics_path(@user)
        %li.logout 
          = link_to "LOGOUT", "https://mail.google.com/mail/u/0/?logout&hl=en" 

- if flash[:notice]
  #notice.message= flash[:notice]
- if flash[:warning]
  #notice.warning= flash[:warning]

